{% extends 'app/base.html.twig' %}

{% block title %}Utwórz rabat{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn-primary btn">Utwórz rabat</button>
    {{ form_end(form) }}
{% endblock %}
