{% extends 'app/base.html.twig' %}

{% block title %}Edytuj rabat „{{ discount.name }}”{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}

{% block after_title_widget %}
    <a href="{{ path('discount.remove', {id: discount.id}) }}" class="btn btn-danger button-needs-confirm">Usuń rabat</a>
{% endblock %}
